*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 90%;
  text-align: center;
}

section,
h1 {
  padding-bottom: 10px;
}

hr {
  color: rgb(218, 236, 236);
}
