<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css</title>
    <link rel="stylesheet" href="css/index.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>
    <main>
      <h1>Task 31</h1>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/task31.html"
      ></section>
      <hr />
      <h1>Task 32</h1>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/task32.html"
      ></section>
      <hr />
      <h1>Task 33</h1>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/task33.html"
      ></section>
      <hr />
      <h1>Task 34</h1>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/task34.html"
      ></section>
      <hr />
    </main>
  </body>
</html>
