<section class="task32">
  <div class="task32__container">
    <div class="card__container">
      <div class="card__content">
        <img
          src="https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg"
          alt=""
        />
        <h4>Title</h4>
        <p>
          Delta compression using up to 10 threads Compressing objects: 100%
          (14/14), done. Writing objects: 100% (14/14), 3.06 KiB | 3.06 MiB/s,
          done.
        </p>
      </div>
    </div>
  </div>
</section>
